:root {
    --accent-color: #434455 ;
    --title-text-color: #2E2F42;
    --button: #E7E9FC;
    --focus: #404BBF;
    --logo:#4D5AE5;
    --background-color: #F4F4FD;
      

}

body {
    background-color: #FFFFFF;
    font-family: roboto, sans-serif;
    color: var(--title-text-color);
    line-height: 1.5;
}

.logo {
    color: var(--accent-color);
    font-size: 18px;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
}
span {
    color: var(--logo);
}

/*site nav*/
.site-nav .link {
    color: var(--title-text-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;

}
.auth-site .link {
    color: var(--accent-color);
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
}

.link:hover,
.link:focus {
    color:#4D5AE5;   
}
/*filters*/

button {
    color: #4D5AE5;
    background-color: var(--button);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5px;
    padding: 12px 24px;
    border: none;
    font-family: inherit;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

button:hover,
button:focus {
    background-color: var(--focus);
    color: white;
}



/*section1*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-nav,
.auth-site,
.filters,
.pic-items {
    list-style: none;
}

.header-desc {
    color: var(--title-text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

}

.desc {
    color: var(--accent-color);
   
}

/*footer*/
.footer-section {
    background-color: var(--title-text-color);
}

.footer-logo {
    color: var(--background-color);
    font-size: 18px;
    text-decoration: none;
    font-family: raleway, sans-serif;
    font-size: 18px;
    line-height: 1.34;
    text-transform: uppercase;
    font-weight: 800;
}

.slogan {
    color: #E7E9FC;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
